---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { useTranslations } from "@utils/i18n";
import AdImage from "@images/add2caladd.jpg";

interface Props {
  locale: string;
}

const { locale } = Astro.props as Props;
const t = useTranslations(locale);
---

<a
  href="https://add-to-calendar-pro.com"
  target="_blank"
  rel="noopener"
  role="menuitem"
  tabindex="-1"
  class="group shrink-0 border-l border-stone-100 dark:border-stone-700 m-4 pl-4 w-64 no-underline"
>
  <span class="relative block rounded overflow-hidden">
    <Image src={AdImage} alt={t('ads.atcp.title')} class="rounded transition-opacity duration-300 group-hover:opacity-50" />
    <span class="absolute block top-1 right-1 bg-secondary text-white text-xs opacity-50 px-2 py-0.5 rounded">{t('labels.ad')}</span>
    <span class="absolute block bottom-0 left-0 right-0 p-3 pt-20 bg-linear-to-t from-black/90 via-black/70 to-transparent">
      <span class="flex items-center gap-2">
        <span class="font-semibold text-sm text-white">{t('ads.atcp.title')}</span>
        <Icon name="heroicons:arrow-right" class="w-4 h-4 text-white group-hover:ml-1 transition-all" />
      </span>
      <span class="text-xs text-white/80 mt-0.5 block">{t('ads.atcp.description')}</span>
    </span>
  </span>
</a>
