---
import { useTranslations, getLocaleUrl } from "@utils/i18n";
import { themeConfig } from '~/theme.config';

interface Props {
  locale: string;
}

const { locale } = Astro.props as Props;
const t = useTranslations(locale);
const currentYear = new Date().getFullYear();
---

<nav role="navigation" class="flex flex-col-reverse lg:flex-row-reverse flex-wrap sm:text-left select-none gap-x-2 gap-y-4 sm:gap-y-2 text-xs text-stone-300">
  <div class="flex flex-wrap justify-center md:justify-start mx-auto md:mx-0 gap-x-6 gap-y-3 sm:gap-2">
    <a class="unstyle-link hover:text-text-dark" href={getLocaleUrl('legal-notice', locale)}>{t('nav.legal-notice')}</a>
    <div class="opacity-50 hidden sm:block">|</div>
    <a class="unstyle-link hover:text-text-dark" href={getLocaleUrl('privacy-policy', locale)}>{t('nav.privacy-policy')}</a>
  </div>
  <div class="opacity-50 hidden lg:block">|</div>
  <div>&copy; {currentYear} {themeConfig.publisher.name}</div>
</nav>
